*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.local

# Mac
.DS_Store

node_modules
bower_components
package-lock.json

venv
application.cfg
npm-debug.log

*~
tags
flask_session/
flask_cache/
env

# localhost ssl keys
server.key
server.crt
server.key.org
server.csr

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
